body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    position: relative;
}
canvas {
    border: 1.5px solid black;
}
#mousePosition, #zoomLevel, #stationInfo {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border: 1px solid black;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}
#stationInfo {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
#controls {
    margin-top: 10px;
}
button {
    margin: 0 5px;
}