body {
    font-family: Arial, sans-serif;
}

.dashboard {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
}

.activities ul {
    list-style-type: none;
    padding: 0;
}

.activities li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-left: 5px solid #4CAF50;
}
